<style>
  header {
    width: 100%;
    background: var(--black);
    color: var(--white);
  }

  header .logo-wrapper {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo-wrapper h1 {
    display: inline-block;
    text-align: left;
    padding: 20px 0;
    margin: 0;
    color: var(--white);
  }

  .header-link {
    padding-left: 1rem;
    color: var(--white);
  }
</style>

<header>
  <div class="logo-wrapper">
    <a href="/" rel="home" class="home-link">
      <h1>{{ meta.title }}</h1>
    </a>
    <div>
      {% for page in collections.pages %}
      <a href={{ page.url }} class="header-link">{{ page.data.url_title }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="top-bar"></div>
</header>