:root {
  --gray: #3f4f61;
  --black: #011627;
  --white: white;
  --text: var(--gray);
  --font-family: mallory, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--white);
  color: var(--text);
  font-family: var(--font-family);
  font-weight: 400;
  margin: 0;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-weight: 900;
  font-family: var(--font-family);
}

main {
  margin: 4rem auto;
  min-height: calc(100vh - 357px);
  width: 90vw;
  max-width: 800px;
  padding-bottom: 100px;
}
