.container {
    align-items: center;
}

.team-members {
    padding-top: 2rem;
    width: 70%;
}

img.github_avatar {
    display: inline;
    margin: 0.1rem 0.2rem;
    height: 64px;
    width: 64px;
}